@tailwind base;
@tailwind components;
@tailwind utilities;

html{
scroll-behavior: smooth;
}




.track-on-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,24,25,1) 100%);
  border: 5px solid rgb(125, 19, 118);
  border-radius: 20px;
  margin: .7rem .5rem;
  transform-style: preserve-3d;
}

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 35px; */
    font-style: italic;
    color: white;
    transform: translateZ(60px);
  }



.violet-gradient {
    background: #2f2624;
    background: linear-gradient(-90deg, #1e1210 0%, rgba(80, 61, 51, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #281f19 0%,
      rgba(80, 72, 51, 0) 100%
    );
  }
  .about-gradient{
    background-image: linear-gradient(230deg, rgb(72, 59, 255), rgb(128, 0, 102) );
    background-clip: text;
    color: transparent;
  }


  .slide-in{
    transform: translateX(0);
    opacity: 1;
    transition: all 1s;
  }

  .slide-out{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
  }


  @media all and (max-width:570px) {
    
    .card img{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }